body{
    text-align: center;
    background-color: red;

}

section{
    background-color: skyblue;
margin-left: 400px;
width: 500px;
height: 500px;
border: 10px ridge black;
}
img{
    width: 412px;
    height: 201px;
    margin-top: -1px;
}